# -*- coding: utf-8 -*-
# vim: set ai si sta et sw=4 sts=4 fenc=utf-8 nobomb eol ff=unix ft=conf:

._*
.\#*
*~
\#*\#
*.7z
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.apt_generated/
*_archive
atlassian-ide-plugin.xml
/auto/
auto-save-list
.autotools
Backup of *.doc*
*.bak
[Bb]in
bh_unicode_properties.cache
bin/
build/
.buildlog
.buildpath
*.bz2
*.bzip
.bzr/
.bzrignore
.c9
.c9revisions
*.cab
.cache
.cache-main
.cask/
classes/
cmake-build-*/
.com.apple.timemachine.donotpresent
com_crashlytics_export_strings.xml
_compareTemp
config.codekit
config.codekit3
configs/
.cproject
crashlytics-build.properties
crashlytics.properties
cscope.files
cscope.in.out
cscope.out
cscope.po.out
csrc/
/CVS/*
**/CVS/*
.cvsignore
*/.cvsignore
cwallet.sso.lck
.data/
[Dd]esktop.ini
*.deb
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
deploy/
DerivedData/
*.diff
.directory
.dir-locals.el
dist/
dist/*
*.dmg
~$*.doc*
.DocumentRevisions-V100
.dropbox
.dropbox.attr
.dropbox.cache
.DS_Store
DVEfiles/
dw_php_codehinting.config
dwsync.xml
*.egg
ehthumbs.db
ehthumbs_vista.db
EIFGENs
*.elc
/elpa/
/.emacs.desktop
/.emacs.desktop.lock
/eshell/history
/eshell/lastdir
*.evcd
.externalToolBuilders/
fabric.properties
.factorypath
flycheck_*.el
*_flymake.*
*.fsdb
.fseventsd
.fuse_hidden*
/*.gcno
*.gem
*.gho
GitHub.sublime-settings
GPATH
GRTAGS
GSYMS
GTAGS
gtags.files
*.gz
.hg/
.hgignore
.hgsigs
.hgsub
.hgsubstate
.hgtags
.history
Icon[]
.idea/caches/build_file_checksums.ser
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/httpRequests
.idea/*.iml
.idea/**/libraries
.idea_modules/
.idea/modules
.idea/modules.xml
.idea/**/mongoSettings.xml
.idea/replstate.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
[Ii]nclude
*.iso
*.iws
*.jar
javadoc/
.java-version
.jenv-version
.*.kate-swp
.kdev4/
*.kdev4
*.launch
.lib/
lib_managed/
[Ll]ib
[Ll]ib64
[Ll]ocal
*.lnk
.loadpath
local.properties
.~lock.*#
*.log
.LSOverride
*.lzma
.metadata
/min
*.mno
*.mode1v3
*.mode2v3
*.moved-aside
*.msi
*.msix
*.msm
*.msp
nbbuild/
nbdist/
.nb-gradle/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/nbproject/private/
.netrwhist
/network-security.data
Network Trash Folder
.nfs*
*~.nib
.ninja_deps
.ninja_log
_notes
.org-id-locations
*.ori
*.orig
oscrypto-ca-bundle.crt
.otto/
out/
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.cache/
Package Control.ca-list
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
*.patch
*.pbxuser
*.perspectivev3
*.pidb
pip-selfcheck.json
*.ppk
~$*.ppt*
.project
project/boot/
.projectile
project/plugins/project/
*.pydevproject
.pyenv-version
.Python
.python-version
pyvenv.cfg
*.rar
*.rdb
.recommenders
.recommenders/
$RECYCLE.BIN/
.redcar
*.rej
*.rel
*.resources
*.retry
*.rpm
[._]s[a-rt-v][a-z]
[._]*.s[a-v][a-z]
.scala_dependencies
secring.*
/server/
Session.vim
Sessionx.vim
.settings/
sftp-config.json
simv
simv.daidir/
simv.db.dir/
simv.vdb/
.Spotlight-V100
.springBeans
src_managed/
[._]ss[a-gi-z]
[Ss]cripts
*.stackdump
*.stTheme.cache
*.sublime-project
*.sublime-workspace
.svn/
[._]*.sw[a-p]
[._]sw[a-p]
.swp.*
*.swp
tags
!tags/
.tags
TAGS
!TAGS/
.TAGS
*.tar
.target
target/
temp/
.TemporaryItems
Temporary Items
.tern-project
test-results/
.texlipse
/.tgitconfig
*.tgz
Thumbs.db
Thumbs.db:encryptable
*.tmlanguage.cache
*.tmp
tmp/
*.tmPreferences.cache
*.tmproj
*.tmproject
tmtags
tramp
.Trash-*
.Trashes
ucli.key
[._]*.un~
urgReport/
*.userprefs
*.usertasks
.vagrant/
*.vcd
vc_hdrs.h
.venv
.VolumeIcon.icns
*.vpd
*.vpj
*.vpw
*.vpwhist
*.vpwhistu
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.~vsd*
*.vtg
.worksheet
*.xccheckout
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcscmblueprint
xcuserdata/
!*.xcworkspace/contents.xcworkspacedata
*.xlk
~$*.xls*
*.xpi
*.xz
*.zip
